img{
    width: 30px;
    height: 42px;
}

.mapboxgl-ctrl-group {
    width: 30px;
    background: red;
}

.mapboxgl-marker button {
    background: transparent;
    border: 0;
}


.mapboxgl-ctrl-bottom-left,
.mapboxgl-ctrl-bottom-right {  
    display: none !important;
}